<div class="content-wrapper">
  <div class="card">
    <div class="card-header text-white bg-theme">Search User</div>
    <div class="card-body border">
      <form (ngSubmit)="loadSearchUserList()" (ngReset)="onReset()">
        <div class="row">
          <div class="row">
            <div class="form-group col-4">
              <label class="col-form-label requiredField">USER TYPE</label>
              <select
                class="custom-select"
                style="width: 100%"
                name="userType"
                [(ngModel)]="userType"
              >
                <option *ngFor="let type of userTypes" [ngValue]="type">
                  {{ type }}
                </option>
              </select>
            </div>
            <div class="form-group col-4">
              <label class="col-form-label">USER STATUS</label>
              <select
                class="custom-select"
                style="width: 100%"
                name="userStatus"
                [(ngModel)]="userStatus"
              >
                <option *ngFor="let status of userStatusAll" [ngValue]="status">
                  {{ status }}
                </option>
              </select>
            </div>

            <div class="form-group col-4">
              <label class="col-form-label">USER NAME</label>
              <input
                id="userName"
                class="form-control"
                autocomplete="off"
                name="userName"
                [(ngModel)]="userName"
              />
            </div>

            <!--                    <div class="form-group col-3">-->
            <!--                      <label class=" col-form-label"-->
            <!--                        >DEPARTMENT</label-->
            <!--                      >-->
            <!--                      <input-->
            <!--                        id="department"-->
            <!--                        class="form-control"-->
            <!--                        autocomplete="off"-->
            <!--                        name = "department"-->
            <!--                        [(ngModel)] = "department"-->
            <!--                      />-->
            <!--                    </div>-->
          </div>
        </div>

        <div class="row mt-4">
          <div class="col d-flex justify-content-end">
            <button
              type="submit"
              class="btn bg-theme ms-1"
              (click)="onSearchClick()"
            >
              Create User
            </button>
            <button type="submit" class="btn bg-theme ms-1">Search</button>
            <button type="reset" class="btn btn-outline-theme ms-1">
              Clear
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- <div class="card">
      <div class="card-header bg-theme text-white">User List</div>
      <div class="card-body border">
        <div class="d-flex justify-content-between p-2">
          <select
            class="custom-select"
            style="width: auto"
            name="pageSize"
            [(ngModel)]="pageSize"
            (ngModelChange)="onChangePageSize()"
          >
            <option *ngFor="let size of tableSizes" [ngValue]="size">
              {{ size }} items per page
            </option>
          </select>
          <div class="col-md-4">
            <input
              type="text"
              [(ngModel)]="searchItemValue"
              name="searchItemValue"
              autocomplete="off"
              placeholder="Search here.."
              (input)="searchItem()"
              (keydown.enter)="searchItem()"
              (change)="searchItem()"
              class="form-control form-control-sm"
            />
          </div>
        </div>

        <table class="table table-striped nowrap" style="width: 100%">
          <thead>
            <tr>
              <th
                *ngFor="let field of fields; let i = index"
                class="text-start"
              >
                {{ field.label }}
              </th>
              <th class="text-center">Active Status</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of showSearchUserList; let i = index">
              <td>{{ searchUserList.indexOf(data) + 1 }}</td>
              <td>{{ data.username }}</td>
              <td>{{ data.userType }}</td>
              <td>{{ data.employeeName }}</td>
              <td>{{ data.departmentName }}</td>
              <td class="text-start">{{ data.designationName }}</td>
              <td>{{ data.email }}</td>
              <td
                *ngIf="data.isActive == 'Y'; else inactive"
                class="text-center"
              >
                <i class="bi bi-check2 text-success"></i>
              </td>
              <ng-template #inactive
                ><i class="bi bi-x-circle text-danger"></i
              ></ng-template>
              <td class="text-center" (click)="enableEdit(data)">
                <i class="bi bi-pencil-square clickable"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <ngb-pagination
          [collectionSize]="searchUserList.length"
          [(page)]="currentPage"
          [maxSize]="3"
          [rotate]="true"
          [ellipses]="false"
          [boundaryLinks]="true"
          [pageSize]="pageSize"
          (pageChange)="onChangePage($event)"
        ></ngb-pagination>
      </div>
    </div> -->
</div>
