<app-page-layout>
  <div class="container-fluid">
    <div class="page_content">
      <form  #passChange="ngForm"  (ngSubmit)="changeData(passChange)" class="col-md-6 offset-md-3">
        <h3 class="text-center">Change Password</h3>
        <div class="input-group mb-0 mt-3">
          <div class="input-group-prepend">
                    <span class="input-group-text">
                        Current Password
                    </span>
          </div>
          <input type="password" autocomplete="off" name="oldPassword" [(ngModel)]="passwordData.oldPassword" class="form-control" id="currentPassword" #currentPass="ngModel"
                 required [class.is-valid]="currentPass.valid && (currentPass.dirty || currentPass.touched)"
                 [class.is-invalid]="currentPass.invalid && (currentPass.dirty || currentPass.touched)">
        </div>
        <div class="form-control-feedback text-danger text-end" *ngIf="currentPass.errors && (currentPass.dirty || currentPass.touched)">
<!--          <p class="messageFix" *ngIf="currentPass.errors['required']">Current password is required</p>-->
        </div>
        <div class="input-group mb-0 mt-3">
          <div class="input-group-prepend">
                    <span class="input-group-text">
                        New Password
                    </span>
          </div>
          <input type="password" autocomplete="off" name="password" [(ngModel)]="passwordData.newPassword" class="form-control" id="NewPassword" #newPass="ngModel" (input)="checkPasswordRequirements()"
                 required [class.is-valid]="newPass.valid && (newPass.dirty || newPass.touched)"
                 [class.is-invalid]="newPass.invalid && (newPass.dirty || newPass.touched)">
        </div>
        <div class="form-control-feedback text-danger text-end" *ngIf="newPass.errors && (newPass.dirty || newPass.touched)">
<!--          <p class="messageFix" *ngIf="newPass.errors['required']">Field can not be empty</p>-->
        </div>
        <div class="input-group mb-0 mt-3">
          <div class="input-group-prepend">
                    <span class="input-group-text">
                        Confirm Password
                    </span>
          </div>
          <input type="password" autocomplete="off" name="confirmPassword" [(ngModel)]="passwordData.confirmPassword" class="form-control" id="ConfirmPassword" #confirmPass="ngModel"
                 required [class.is-valid]="confirmPass.valid && confirmPass.value==newPass.value && (confirmPass.dirty || confirmPass.touched)"
                 [class.is-invalid]="(confirmPass.invalid || confirmPass.value!=newPass.value) && (confirmPass.dirty || confirmPass.touched)">
        </div>
        <div class="form-control-feedback text-danger text-end" *ngIf="confirmPass.errors && (confirmPass.dirty || confirmPass.touched)">
<!--          <p class="messageFix mb-0" *ngIf="confirmPass.errors['required']">Field can not be empty</p>-->
        </div>
        <div class="form-control-feedback text-danger text-end" *ngIf="confirmPass.value!=newPass.value">
          <p class="messageFix" *ngIf="(confirmPass.value!=newPass.value && confirmPass.touched)">Password does not match!</p>
        </div>

        <div class="mt-5">
          <h5>Password must meet the following requirements:</h5>
          <ul>
            <li [ngClass]="{'invalid': !isLengthValid, 'valid': isLengthValid}"> <i *ngIf="!isLengthValid; else check" class="bi bi-x-lg text-danger"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Minumim password length at least 6 characters</li>
            <li [ngClass]="{'invalid': !isUpperCaseValid, 'valid': isUpperCaseValid}"><i *ngIf="!isUpperCaseValid; else check" class="bi bi-x-lg text-danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Characters at least one uppercase (A – Z)</li>
            <li [ngClass]="{'invalid': !isLowerCaseValid, 'valid': isLowerCaseValid}"><i *ngIf="!isLowerCaseValid; else check" class="bi bi-x-lg text-danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Characters at least one lowercase (a-z)</li>
            <li [ngClass]="{'invalid': !isDigitValid, 'valid': isDigitValid}"><i *ngIf="!isDigitValid; else check" class="bi bi-x-lg text-danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; At least one digit (0 – 9)  </li>
            <li [ngClass]="{'invalid': !isSpecialCharValid, 'valid': isSpecialCharValid}"><i *ngIf="!isSpecialCharValid; else check" class="bi bi-x-lg text-danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; At least one Non-alphanumeric character (!, $, #, or %) </li>
            <ng-template #check>
              <i class="bi bi-check2 text-success"></i>
            </ng-template>
          </ul>
        </div>

        <div style="display: flex;justify-content: end;" class="mt-3">
          <button type="submit" class="btn btn-primary float-right"
                  [disabled]="passChange.invalid || passwordData.newPassword != passwordData.confirmPassword || !isPasswordValid">
            Change Password</button>
        </div>
      </form>
    </div>
  </div>
</app-page-layout>
