.invalid {
  padding-left:22px;
  line-height:24px;
  color:#ec3f41;
}
.valid {
  padding-left:22px;
  line-height:24px;
  color:#3a7d34;
}

ul {
  list-style-type: none
}

.input-group .input-group-prepend {
  width: 10em;
}
