<table class="table table-striped nowrap w-100">
  <thead>
    <!-- <tr>
      <th *ngFor="let field of fields; let i = index" class="text-start">
        {{ field }}
      </th>
    </tr> -->
    <tr *ngIf="selectedReport.reportId == 18">
      <th>Incident City</th>
      <th>Year</th>
    </tr>
    <tr *ngIf="selectedReport.reportId == 19">
      <th>Vehicle Type</th>
      <th>Year</th>
    </tr>
    <tr *ngIf="selectedReport.reportId == 66 || selectedReport.reportId == 67">
      <th>Year</th>
    </tr>
    <tr *ngIf="selectedReport.reportId == 47 || selectedReport.reportId == 45">
      <th>Start Year</th>
      <th>End Year</th>
    </tr>
    <tr *ngIf="![18,19,47,45,66,67].includes(selectedReport.reportId)">
      <th *ngFor="let field of fields; let i = index" class="text-start">
        {{ field }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="![18,19,47,45,66,67].includes(selectedReport.reportId)">
      <tr *ngFor="let data of inputDataList">
        <td *ngFor="let f of fields; let i = index">
          <input type="text" [name]="f" [(ngModel)]="data[f]" />
        </td>
      </tr>
    </ng-container>

    <tr *ngIf="selectedReport.reportId == 18">
      <td>
        <input type="text" name="incidentCity" [(ngModel)]="incidentCity" />
      </td>
      <td>
        <input type="text" name="year" [(ngModel)]="year" />
      </td>
      <td>
    </tr>
    <tr *ngIf="selectedReport.reportId == 19">
      <td>
        <input type="text" name="vehicleType" [(ngModel)]="vehicleType" />
      </td>
      <td>
        <input type="text" name="year" [(ngModel)]="year" />
      </td>
      <td>
    </tr>
    <tr *ngIf="selectedReport.reportId == 66 || selectedReport.reportId == 67">
      <td>
        <input type="text" name="year" [(ngModel)]="year" />
      </td>
    </tr>
    <tr *ngIf="selectedReport.reportId == 47 || selectedReport.reportId == 45">
      <td>
        <input type="text" name="startYear" [(ngModel)]="startYear" />
      </td>
      <td>
        <input type="text" name="endYear" [(ngModel)]="endYear" />
      </td>
    </tr>

    <!-- <button
      *ngIf="selectedReport.reportId"
      type="button"
      class="btn btn bg-theme shadow me-3 mt-4"
      (click)="addDataCount()"
    >
      Add
    </button> -->
    <button *ngIf="selectedReport.reportId" type="button" class="btn btn bg-theme shadow me-3 mt-4"
      (click)="submitData()">
      Submit
    </button>
  </tbody>
</table>
<table *ngIf="showPredictRes && (allowedReportIds.includes(selectedReport.reportId))"
  class="table table-striped nowrap w-100">
  <thead>
    <tr *ngIf="selectedReport.reportId == 18 || selectedReport.reportId == 19">
      <th *ngIf="selectedReport.reportId == 18">Incident City</th>
      <th *ngIf="selectedReport.reportId == 19">Vehicle Type</th>
      <th>Year</th>
      <th>Predicted Amount</th>
      <th>Predicted Count</th>
    </tr>
    <tr *ngIf="selectedReport.reportId == 66 || selectedReport.reportId == 67">
      <th>Institute Name</th>
      <th *ngIf="selectedReport.reportId == 66">Predicted Income</th>
      <th *ngIf="selectedReport.reportId == 67">Predicted Expense</th>
      <th>Year</th>
    </tr>
    <tr *ngIf="selectedReport.reportId == 47">
      <th>Institute Code</th>
      <th>Institute Name</th>
      <th>Date</th>
      <th>Sales</th>
    </tr>
  </thead>
  <tbody *ngIf="selectedReport.reportId == 18 || selectedReport.reportId == 19">
    <tr *ngFor="let data of predictResData">
      <td *ngIf="selectedReport.reportId == 18">{{ data.city }}</td>
      <td *ngIf="selectedReport.reportId == 19">{{ data.vehicle }}</td>
      <td>{{ data.year }}</td>
      <td>{{ data.predicted_amount | number:'1.1-4' }}</td>
      <td>{{ data.predicted_count | number:'1.1-4' }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="selectedReport.reportId == 66 || selectedReport.reportId == 67">
    <tr *ngFor="let data of predictResData">
      <td>{{ data.instituteName }}</td>
      <td *ngIf="selectedReport.reportId == 66">{{ data.totalIncome }}</td>
      <td *ngIf="selectedReport.reportId == 67">{{ data.totalExpense }}</td>
      <td>{{ data.year }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="selectedReport.reportId == 47">
    <tr *ngFor="let data of predictResData[0]">
      <td>{{ data.instituteCode }}</td>
      <td>{{ data.instituteName }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.sales | number:'1.1-4'}}</td>
    </tr>
  </tbody>
</table>

<table *ngIf="showPredictRes && selectedReport.reportId == 45" class="table table-striped nowrap w-100 align-middle">
  <thead>

    <tr>
      <th>Institute Code</th>
      <th>Institute Name</th>
      <th>Date</th>
      <th>Trend</th>
      <th colspan="2" class="m-auto text-center">
        Outliers
        <div class="d-flex justify-content-between">
          <p>TXN Number</p>
          <p>Anomaly Type</p>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of predictResData">
      <td>{{data.trendAnalysis.instituteCode }}</td>
      <td>{{data.trendAnalysis.instituteName }}</td>
      <td>{{data.trendAnalysis.period }}</td>
      <td>{{data.trendAnalysis.trend}}</td>
      <td>
        <ng-container *ngFor="let anomalyType of data.outliers">
    <tr *ngFor="let txId of data.trendOutliers.anomalyType">
      <td>{{ txId }}</td>
      <!-- <td>{{ anomalyType.key }}</td> -->
    </tr>
    </ng-container>
    </td>
    </tr>
  </tbody>
</table>

<table *ngIf="showPredictRes && !allowedReportIds.includes(selectedReport.reportId)"
  class="table table-striped nowrap w-100">
  <thead>
    <tr>
      <th *ngFor="let field of outFields; let i = index" class="text-start">
        {{ field }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of predictResData">
      <td *ngFor="let f of outFields; let i = index">
        {{data[f]}}
      </td>
    </tr>
  </tbody>
</table>

<!--<div>-->
<!--  <div class="row">-->
<!--    <div class="col-md-6">-->
<!--      <h5>Choose a CSV File</h5>-->
<!--      <div class="input-group">-->
<!--        <input-->
<!--          type="file"-->
<!--          class="form-control"-->
<!--          (change)="onFileSelected($event)"-->
<!--          accept=".csv"-->
<!--        />-->
<!--      </div>-->
<!--      <small class="form-text text-muted"-->
<!--      >Please select a valid CSV file.</small-->
<!--      >-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-md-4 mt-3">-->
<!--    <button type="button" class="btn btn-secondary" (click)="pushCsvFile()">-->
<!--      Submit-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->