.bg-table {
  background-color: #63ccda32;
}

.table-wrapper {
  // height: min(14rem, 40vh);
  height: auto;
  max-height: min(14rem, 40vh);
  overflow-y: scroll;
}
.table{
  --bs-table-bg: transparent;
}

.claim-chart{
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: #33333337;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}