<div class="scrollable-container">
  <div class="layout">

    <router-outlet></router-outlet>

  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<!--<ngx-spinner type="ball-scale-multiple"></ngx-spinner>-->

<!--<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="font-size: 30px; color: white" > Loading... </p></ngx-spinner>-->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="font-size: 30px; color: white" > Loading... </p></ngx-spinner>
<!--<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="font-size: 30px; color: white" > Loading... </p></ngx-spinner>-->
