<app-page-layout>
  <div class="card board">

    <div class="card-header bg-theme text-white">User List</div>
    <div class="card-body border">
      <div class="d-flex justify-content-between p-2">
        <select
          class="custom-select"
          style="width: auto"
          name="pageSize"
          [(ngModel)]="pageSize"
          (ngModelChange)="onChangePageSize()"
        >
          <option *ngFor="let size of tableSizes" [ngValue]="size">
            {{ size }} items per page
          </option>
          <!-- <option [ngValue]="2">2 items per page</option> -->
        </select>
        <div class="col-md-4">
          <input
            type="text"
            [(ngModel)]="searchItemValue"
            name="searchItemValue"
            autocomplete="off"
            placeholder="Search here.."
            (input)="searchItem()"
            (keydown.enter)="searchItem()"
            (change)="searchItem()"
            class="form-control form-control-sm"
          />
        </div>
      </div>

      <table class="table table-striped nowrap w-100">
        <thead>
        <tr>
          <th>Sl</th>
          <th>Name</th>
          <th>Title</th>
          <th>Status</th>
          <th>User Type</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of showUserList; let i = index">
          <td> {{userList.indexOf(item) + 1}} </td>
          <td class="people">
            <img *ngIf="item.employeeImage == ''" src="../../../../../assets/img/project/navbar/avatar2.svg" alt="">
            <img *ngIf="item.employeeImage != ''" [src]="item.employeeImage" alt="">
            <div [className]="item.isActive != 'Y' ? 'circle-indactive' : 'circle-indicator pulse'"></div>
            <div class="people-de">
              <h5>{{item.employeeName}}</h5>
              <p>{{item.email}}</p>
            </div>
          </td>
          <td class="people-des">
            <h5>{{item.username}}</h5>
            <p>{{item.departmentName}}</p>
          </td>
          <td [className]="item.isActive == 'Y' ? 'active': 'in-active'">
            <p>{{item.isActive == 'Y' ? 'active': 'in-active'}}</p>
          </td>
          <td class="role">
            <p>{{item.userType}}</p>
          </td>
          <td><button (click)="showUserLog(item.username)">View</button></td>
        </tr>
        </tbody>
      </table>

      <ngb-pagination
        [collectionSize]="userList.length"
        [(page)]="currentPage"
        [maxSize]="3"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
        [pageSize]="pageSize"
        (pageChange)="onChangePage($event)"
      ></ngb-pagination>
    </div>
  </div>
</app-page-layout>






<!--<div class="board mt-3"  id="excel-table" *ngIf="showTable">-->
<!--  <table class="table" width="100%">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Title</th>-->
<!--      <th>Status</th>-->
<!--      <th>User Type</th>-->
<!--      <th></th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->

<!--    <tr *ngFor="let item of dataValue">-->
<!--      <td class="people">-->
<!--        <img *ngIf="item.employeeImage == ''" src="../../../../../assets/img/project/navbar/avatar2.svg" alt="">-->
<!--        <img *ngIf="item.employeeImage != ''" [src]="item.employeeImage" alt="">-->
<!--        <div [className]="item.isActive != 'Y' ? 'circle-indactive' : 'circle-indicator pulse'"></div>-->
<!--        <div class="people-de">-->
<!--          <h5>{{item.employeeName}}</h5>-->
<!--          <p>{{item.email}}</p>-->
<!--        </div>-->
<!--      </td>-->
<!--      <td class="people-des">-->
<!--        <h5>{{item.username}}</h5>-->
<!--        <p>{{item.departmentName}}</p>-->
<!--      </td>-->
<!--      <td [className]="item.isActive == 'Y' ? 'active': 'in-active'">-->
<!--        <p>{{item.isActive == 'Y' ? 'active': 'in-active'}}</p>-->
<!--      </td>-->
<!--      <td class="role">-->
<!--        <p>{{item.userType}}</p>-->
<!--      </td>-->
<!--      <td><button (click)="showUserLog(item.username)">View</button></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
