<form *ngIf="!showOTP" (ngSubmit)="sendOTP()">
    <div class="form-data">
      <div class="forms-inputs mb-3 mb-xl-4">
        <p class="text-muted">Enter your email address to receive OTP</p>
        <p class="mb-2">Email</p>
        <input
          autocomplete="off"
          type="email"
          class="form-control"
          name="email"
          #emailId="ngModel"
          [(ngModel)]="email"
        />
        <div
        >
          <div
            *ngIf="emailId?.errors?.['required']"
            class="text-danger text-end"
          >
            Email is required.
          </div>
        </div>
      </div>
      
      <p class="mb-2 text-muted cursor-pointer text-decoration-none" (click)="toggleFP.emit()">Log In?</p>
      <button
        type="submit"
        class="btn bg-theme w-100 login-btn"
        [disabled]="disableBtn"
      >
      <span *ngIf="disableBtn" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Send OTP
      </button>
    </div>
</form>

<!-- OTP FORM -->
<form *ngIf="showOTP">
    <div class="form-data">
      <div class="forms-inputs mb-3 mb-xl-4">
        <p class="text-muted">Please check your email ({{email}}) for 6-digit OTP</p>
        <p class="mb-2">Enter OTP</p>
        <input
          autocomplete="off"
          type="text"
          class="form-control"
          name="OTP"
          #OTPCode="ngModel"
          [(ngModel)]="OTP"
          (keydown)="numberOnly($event)"
          maxlength="6"
        />
        <div
        >
          <div
            *ngIf="OTPCode?.errors?.['required']"
            class="text-danger text-end"
          >
            OTP is required.
          </div>
        </div>
      </div>
      
      <!-- <p class="mb-2 text-muted cursor-pointer text-decoration-none" >Resend OTP</p> -->

      <button
        type="button"
        class="btn bg-success w-100 login-btn mb-1"
        [disabled]="!resend || disableBtn"
        (click)="resendOTP()"
      >
        <span *ngIf="disableBtn" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        {{!resend ? display : ''}} Resend OTP
      </button>
      <button
        type="button"
        class="btn bg-theme w-100 login-btn"
        [disabled]="disableBtn"
        (click)="submitOTP()"
      >
        <span *ngIf="disableBtn" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Submit
      </button>
    </div>
</form>
  <!-- [disabled]="formGroup.invalid || loginCheckLoader" -->