<div class="content-wrapper">
    <div *ngIf="!hideSpinner" class="d-flex justify-content-center">
        <div  class="spinner-border text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
      </div>

    <div class="row row-cols-1 row-cols-3 g-1 g-lg-2 mx-0 mb-5 pie-charts">
    
        <div *ngIf="showBIAChart" class="col ">
            <div class="chart bg-light shadow rounded cursor-pointer p-3 clearfix">
                <div class="mb-3">
                    <p class="h6 fw-bold text-capitalize">No. of Customers</p>
                    <p class="h6 text-secondary">(Insurance type based)</p>
                </div>
                <div>
                    <apx-chart
                        [series]="jbcPieChart.series"
                        [chart]="jbcPieChart.chart"
                        [colors]="jbcPieChart.colors"
                        [labels]="jbcPieChart.labels"
                        [legend]="jbcPieChart.legend"
                        [title]="jbcPieChart.title"
                        [responsive]="jbcPieChart.responsive"
                    ></apx-chart>
                </div>
                <div class="view-btn">
                    <button type="button" (click)="scroll(jbcBar); showBIABarChart =true" class="btn btn-sm float-end">View Details</button>
                </div>
            </div>
        </div>
        <div *ngIf="showBIAChart" class="col ">
            <div class=" bg-light shadow rounded cursor-pointer" >

            </div>
        </div>

    </div>
    <div class="row g-2 g-xl-3 g-xxl-4 mx-0 mb-5 px-4 bg-light shadow rounded justify-content-center" #jbcBar>
        <div class="py-4"  *ngIf="showBIABarChart">
            <div class="mb-4 position-relative">
                <p class="h4 fw-bold mb-3">Operation Statistics</p>
                <!-- <p class="h5 text-secondary">(Institution based)</p> -->
                <span class="close-btn" (click)="hideEl(jbcBar, 'jbc')"><i class="bi bi-x-lg"></i></span>
            </div>
            <div class="scroll-table">
                <apx-chart *ngIf="showBIABarChart"
                    [series]="jbcBarChart.series"
                    [chart]="jbcBarChart.chart"
                    [colors]="jbcBarChart.colors"
                    [labels]="jbcBarChart.labels"
                    [title]="jbcBarChart.title"
                    [yaxis]="jbcBarChart.yaxis"
                    [plotOptions]="jbcBarChart.plotOptions"
                    [responsive]="jbcBarChart.responsive"
                    [dataLabels]="jbcBarChart.dataLabels"
                ></apx-chart>
            </div>
        </div>

    </div>




</div>
