table{
    border-bottom: 3px solid #0c4876a6;

    input:focus {
        outline: none;
    }
}


thead {
    background-color: #0c4876a6;

    th:first-child{
        border-top-left-radius: 0.5rem;
    }
    th:last-child{
        border-top-right-radius: 0.5rem;
    }

    th {
        width: min-content;
        min-width: 6rem;
        max-width: 10rem;
        text-wrap: wrap;
        vertical-align: middle;
        text-align: center;
        background-color: transparent;
        color: #fff;
        padding: 1rem 0.25rem;
        font-size: 1rem;
        font-weight: normal;
    }
}

tbody{

    // display: block;
    height: max-content;
    max-height: 16rem;
    overflow-y: scroll;

   
    td{ 
        padding: 1rem 0;
    }

    td:first-child {
        padding-left: .25rem;
    }

    tr:nth-child(odd) td{
        background-color: #fff;
    }

    tr:nth-child(even) td{
        background-color: #c0dbeaa8;
    }
}

.scroll-table{
    height: auto;
    max-height: 28rem;
    overflow-y: scroll;
}

.text-small{
    font-size: 0.625rem;
}


#colList.dropdown-toggle:after{
    display: none;
}

div[aria-labelledby="colList"]{
    width: max-content;
    max-width: 50vw;
}

.spin{
    animation: spin360 0.5s linear forwards;
    transform-origin: center; /* Set the transform origin to the center */
    position: relative; /* Add position to enable transforms */
    display: inline-block; /* Ensures proper space allocation */
}

@keyframes spin360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}