.bi-question-circle{
    position: absolute;
    top: 0;
    right: 0;
    // width: 2rem;
    // height: 2rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

 .fs-digit{
        font-family: 'Quicksand', sans-serif;
}

.d-grid {    
    grid-template-columns: 1fr 1fr 0.7fr;
}

@media (max-width:767.98px) {
    .d-grid {    
        grid-template-columns: 1fr 0.8fr;

        .full-div{
            grid-row: 1;
            grid-column: 1/span 2;
        }
    }
}