<div class="content-wrapper mt-3">
    <!-- REGION WISE ALL DATA -->
    <!-- SBC -->
    <div class="div mb-5 bg-light shadow rounded p-4 p-xl-5 mx-0">
        <p class="h3 fw-bold text-capitalize">Shadharon Bima Corporation</p>
        <div class="row row-cols-2 mx-0 p-4">
            <div>
                <div class="mb-3">
                    <p class="h5 text-secondary">No. of Accident (Region wise)</p>
                </div>
                <div>
                    <apx-chart *ngIf="showbarChart"
                    [series]="sbcRGCountBarChart.series"
                    [chart]="sbcRGCountBarChart.chart"
                    [colors]="sbcRGCountBarChart.colors"
                    [labels]="sbcRGCountBarChart.labels"
                    [title]="sbcRGCountBarChart.title"
                    [yaxis]="sbcRGCountBarChart.yaxis"
                    [plotOptions]="sbcRGCountBarChart.plotOptions"
                    [responsive]="sbcRGCountBarChart.responsive"
                    [dataLabels]="sbcRGCountBarChart.dataLabels"
                
                    ></apx-chart>
                </div>
            </div>
            <div>
                <div class="mb-3">
                    <p class="h5 text-secondary">Total Claim Amount (Region wise)</p>
                </div>
                <div>
                    <apx-chart *ngIf="showbarChart"
                    [series]="sbcRGAmountBarChart.series"
                    [chart]="sbcRGAmountBarChart.chart"
                    [colors]="sbcRGAmountBarChart.colors"
                    [labels]="sbcRGAmountBarChart.labels"
                    [title]="sbcRGAmountBarChart.title"
                    [yaxis]="sbcRGAmountBarChart.yaxis"
                    [plotOptions]="sbcRGAmountBarChart.plotOptions"
                    [responsive]="sbcRGAmountBarChart.responsive"
                    [dataLabels]="sbcRGAmountBarChart.dataLabels"
                
                    ></apx-chart>
                </div>
            </div>
        </div>
       
        
    </div>
    <!-- JBC -->
    <div class="div mb-5 bg-light shadow rounded p-4 p-xl-5 mx-0">
        <p class="h3 fw-bold text-capitalize">Jibon Bima Corporation</p>
        <div class="row row-cols-2 mx-0 p-4">
            <div>
                <div class="mb-3">
                    <p class="h5 text-secondary">No. of Accident (Region wise)</p>
                </div>
                <div>
                    <apx-chart *ngIf="showbarChart"
                        [series]="jbcRGCountBarChart.series"
                        [chart]="jbcRGCountBarChart.chart"
                        [colors]="jbcRGCountBarChart.colors"
                        [labels]="jbcRGCountBarChart.labels"
                        [title]="jbcRGCountBarChart.title"
                        [yaxis]="jbcRGCountBarChart.yaxis"
                        [plotOptions]="jbcRGCountBarChart.plotOptions"
                        [responsive]="jbcRGCountBarChart.responsive"
                        [dataLabels]="jbcRGCountBarChart.dataLabels"
                    ></apx-chart>
                </div>
            </div>
            <div>
                <div class="mb-3">
                    <p class="h5 text-secondary">Total Claim Amount (Region wise)</p>
                </div>
                <div>
                    <apx-chart *ngIf="showbarChart"
                        [series]="jbcRGAmountBarChart.series"
                        [chart]="jbcRGAmountBarChart.chart"
                        [colors]="jbcRGAmountBarChart.colors"
                        [labels]="jbcRGAmountBarChart.labels"
                        [title]="jbcRGAmountBarChart.title"
                        [yaxis]="jbcRGAmountBarChart.yaxis"
                        [plotOptions]="jbcRGAmountBarChart.plotOptions"
                        [responsive]="jbcRGAmountBarChart.responsive"
                        [dataLabels]="jbcRGAmountBarChart.dataLabels"
                    ></apx-chart>
                </div>
            </div>
        </div>
       
        
    </div>
    <!-- METLIFE -->
    <div class="div mb-5 bg-light shadow rounded p-4 p-xl-5 mx-0">
        <p class="h3 fw-bold text-capitalize">Metlife</p>
        <div class="row row-cols-2 mx-0 p-4">
            <div>
                <div class="mb-3">
                    <p class="h5 text-secondary">No. of Accident (Region wise)</p>
                </div>
                <div>
                    <apx-chart *ngIf="showbarChart"
                        [series]="metlifeRGCountBarChart.series"
                        [chart]="metlifeRGCountBarChart.chart"
                        [colors]="metlifeRGCountBarChart.colors"
                        [labels]="metlifeRGCountBarChart.labels"
                        [title]="metlifeRGCountBarChart.title"
                        [yaxis]="metlifeRGCountBarChart.yaxis"
                        [plotOptions]="metlifeRGCountBarChart.plotOptions"
                        [responsive]="metlifeRGCountBarChart.responsive"
                        [dataLabels]="metlifeRGCountBarChart.dataLabels"
                    ></apx-chart>
                </div>
            </div>
            <div>
                <div class="mb-3">
                    <p class="h5 text-secondary">Total Claim Amount (Region wise)</p>
                </div>
                <div>
                    <apx-chart *ngIf="showbarChart"
                        [series]="metlifeRGAmountBarChart.series"
                        [chart]="metlifeRGAmountBarChart.chart"
                        [colors]="metlifeRGAmountBarChart.colors"
                        [labels]="metlifeRGAmountBarChart.labels"
                        [title]="metlifeRGAmountBarChart.title"
                        [yaxis]="metlifeRGAmountBarChart.yaxis"
                        [plotOptions]="metlifeRGAmountBarChart.plotOptions"
                        [responsive]="metlifeRGAmountBarChart.responsive"
                        [dataLabels]="metlifeRGAmountBarChart.dataLabels"
                    ></apx-chart>
                </div>
            </div>
        </div>
       
        
    </div>
    <!-- SONALI -->
    <div class="div mb-5 bg-light shadow rounded p-4 p-xl-5 mx-0">
        <p class="h3 fw-bold text-capitalize">Sonali Life Insurance</p>
        <div class="row row-cols-2 mx-0 p-4">
            <div>
                <div class="mb-3">
                    <p class="h5 text-secondary">No. of Accident (Region wise)</p>
                </div>
                <div>
                    <apx-chart *ngIf="showbarChart"
                        [series]="sonaliRGCountBarChart.series"
                        [chart]="sonaliRGCountBarChart.chart"
                        [colors]="sonaliRGCountBarChart.colors"
                        [labels]="sonaliRGCountBarChart.labels"
                        [title]="sonaliRGCountBarChart.title"
                        [yaxis]="sonaliRGCountBarChart.yaxis"
                        [plotOptions]="sonaliRGCountBarChart.plotOptions"
                        [responsive]="sonaliRGCountBarChart.responsive"
                        [dataLabels]="sonaliRGCountBarChart.dataLabels"
                    ></apx-chart>
                </div>
            </div>
            <div>
                <div class="mb-3">
                    <p class="h5 text-secondary">Total Claim Amount (Region wise)</p>
                </div>
                <div>
                    <apx-chart *ngIf="showbarChart"
                        [series]="sonaliRGAmountBarChart.series"
                        [chart]="sonaliRGAmountBarChart.chart"
                        [colors]="sonaliRGAmountBarChart.colors"
                        [labels]="sonaliRGAmountBarChart.labels"
                        [title]="sonaliRGAmountBarChart.title"
                        [yaxis]="sonaliRGAmountBarChart.yaxis"
                        [plotOptions]="sonaliRGAmountBarChart.plotOptions"
                        [responsive]="sonaliRGAmountBarChart.responsive"
                        [dataLabels]="sonaliRGAmountBarChart.dataLabels"
                    ></apx-chart>
                </div>
            </div>
        </div>
    </div>

    <!-- VEHICLE WISE ALL DATA -->
    
</div>



