<div class="content-wrapper mt-3">
    <div *ngIf="!hideSpinner" class="d-flex justify-content-center">
        <div  class="spinner-border text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    
    <div class="row row-cols-1 row-cols-xl-2 mx-0 g-2 g-xl-3 g-xxl-4 mb-5">
        <div class="col" *ngIf="showRegionChart">
            <div class="chart bg-light shadow rounded p-4 p-xxl-5 clearfix">
                <div class="mb-3">
                    <p class="h4">Region based Accident Summary</p>
                </div>
                <div class="col-8 col-xl-11 mx-auto">
                    <apx-chart *ngIf="showRegionChart" class="cursor-pointer"
                        [series]="regionDonutChart.series"
                        [chart]="regionDonutChart.chart"
                        [colors]="regionDonutChart.colors"
                        [labels]="regionDonutChart.labels"
                        [legend]="regionDonutChart.legend"
                        [plotOptions]="regionDonutChart.plotOptions"
                        [responsive]="regionDonutChart.responsive"
                    ></apx-chart>
                </div>
                <div class="view-btn">
                    <button type="button"  (click)="showRegionDetails=true; scroll(region)" class="btn btn-sm float-end">View Details</button>
                </div>
            </div>
        </div>
        <div class="col" *ngIf="showVehicleChart">
            <div class="chart bg-light shadow rounded p-4 p-xxl-5 clearfix">
                <div class="mb-3">
                    <p class="h4">Vehicle type based Accident Summary</p>
                </div>
                <div class="col-7 col-xl-10 mx-auto">
                    <apx-chart *ngIf="showVehicleChart" class="cursor-pointer"
                        [series]="vehicleDonutChart.series"
                        [chart]="vehicleDonutChart.chart"
                        [colors]="vehicleDonutChart.colors"
                        [labels]="vehicleDonutChart.labels"
                        [legend]="vehicleDonutChart.legend"
                        [plotOptions]="regionDonutChart.plotOptions"
                        [responsive]="vehicleDonutChart.responsive"
                    ></apx-chart>
                </div>
                <div class="view-btn">
                    <button type="button"  (click)="showVehicleDetails=true; scroll(vehicle)" class="btn btn-sm float-end">View Details</button>
                </div>
            </div>
        </div>
        
    </div>
    
    <!-- REGION WISE ALL DATA -->
    <div #region>
        <div *ngIf="showRegionDetails" class="mb-5 bg-light shadow rounded p-4 p-xxl-5">
            <div class="position-relative">
            <p class="h3 fw-bold text-capitalize">Region wise Claim Summary</p>
            <span class="close-btn" (click)="hideEl(region, 'region')"><i class="bi bi-x-lg"></i></span>
            </div>
            
            <div class="row row-cols-1 row-cols-xl-2 mx-0 p-4">
                <div>
                    <div class="mb-3">
                        <p class="h5">No. of Accident</p>
                    </div>
                    <div>
                        <apx-chart *ngIf="showRegionDetails"
                        [series]="regionChartObj.count.series"
                        [chart]="regionChartObj.count.chart"
                        [colors]="regionChartObj.count.colors"
                        [labels]="regionChartObj.count.labels"
                        [title]="regionChartObj.count.title"
                        [yaxis]="regionChartObj.count.yaxis"
                        [plotOptions]="regionChartObj.count.plotOptions"
                        [responsive]="regionChartObj.count.responsive"
                        [dataLabels]="regionChartObj.count.dataLabels"
                    
                        ></apx-chart>
                    </div>
                </div>
                <div>
                    <div class="mb-3">
                        <p class="h5">Total Claim Amount</p>
                    </div>
                    <div>
                        <apx-chart *ngIf="showRegionDetails"
                        [series]="regionChartObj.claim.series"
                        [chart]="regionChartObj.claim.chart"
                        [colors]="regionChartObj.claim.colors"
                        [labels]="regionChartObj.claim.labels"
                        [title]="regionChartObj.claim.title"
                        [yaxis]="regionChartObj.claim.yaxis"
                        [plotOptions]="regionChartObj.claim.plotOptions"
                        [responsive]="regionChartObj.claim.responsive"
                        [dataLabels]="regionChartObj.claim.dataLabels"
                    
                        ></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VEHICLE WISE ALL DATA -->
    <div #vehicle>
        <div *ngIf="showVehicleDetails" class="mb-5 bg-light shadow rounded p-4 p-xxl-5 mx-0">
            <div class="position-relative">
                <p class="h3 fw-bold text-capitalize">Vehicle Type wise Claim Summary</p>
                <span class="close-btn" (click)="hideEl(vehicle, 'vehicle')"><i class="bi bi-x-lg"></i></span>
            </div>
            <div class="row row-cols-1 row-cols-xl-2 mx-0 p-4">
                <div>
                    <div class="mb-3">
                        <p class="h5">No. of Accident</p>
                    </div>
                    <div>
                        <apx-chart *ngIf="showVehicleDetails"
                        [series]="vehicleChartObj.count.series"
                        [chart]="vehicleChartObj.count.chart"
                        [colors]="vehicleChartObj.count.colors"
                        [labels]="vehicleChartObj.count.labels"
                        [title]="vehicleChartObj.count.title"
                        [yaxis]="vehicleChartObj.count.yaxis"
                        [plotOptions]="vehicleChartObj.count.plotOptions"
                        [responsive]="vehicleChartObj.count.responsive"
                        [dataLabels]="vehicleChartObj.count.dataLabels"
                        ></apx-chart>
                    </div>
                </div>
                <div>
                    <div class="mb-3">
                        <p class="h5">Total Claim Amount</p>
                    </div>
                    <div>
                        <apx-chart *ngIf="showVehicleDetails"
                        [series]="vehicleChartObj.claim.series"
                        [chart]="vehicleChartObj.claim.chart"
                        [colors]="vehicleChartObj.claim.colors"
                        [labels]="vehicleChartObj.claim.labels"
                        [title]="vehicleChartObj.claim.title"
                        [yaxis]="vehicleChartObj.claim.yaxis"
                        [plotOptions]="vehicleChartObj.claim.plotOptions"
                        [responsive]="vehicleChartObj.claim.responsive"
                        [dataLabels]="vehicleChartObj.claim.dataLabels"
                    
                        ></apx-chart>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>



