<app-page-layout>

  <div class="content-wrapper">

    <!-- DAILY SALES -->
    <app-daily-sales></app-daily-sales>

    <!--  -->
    <div *ngIf="foreCastClaimValue" class="row g-2 g-xl-3 g-xxl-4 mb-5">
      <div class="col-lg-6">
        <div class="ml-claim bg-light rounded-3 shadow px-5 py-4">
          <div class="my-3 border-bottom">
            <p class="h6">Total Claim Amount  <b>{{currentYear}}</b></p>
            <p class="h3 fw-bold ">{{ foreCastClaimValue?.Total_Claim_Amount | currency : "BDT" : "BDT " : "1.0-0" }}&nbsp;</p>
          </div>
          <div class="my-3 border-bottom">
            <p class="h6">Claim Reserve  <b>{{currentYear}}</b></p>
            <p class="h3 fw-bold ">{{ foreCastClaimValue?.Claim_Reserve | currency : "BDT" : "BDT " : "1.0-0" }}&nbsp;</p>
          </div>
          <div class="my-3 border-bottom">
            <p class="h6">Forecasted Losses  <b>{{currentYear}}</b></p>
            <p class="h3 fw-bold ">{{ foreCastClaimValue?.Forecasted_Losses | currency : "BDT" : "BDT " : "1.0-0" }}&nbsp;</p>
          </div>
          <div class="mt-3">
            <p class="h6">Average Premium  <b>{{currentYear}}</b></p>
            <p class="h3 fw-bold "> {{ foreCastClaimValue?.Average_Premium | number: '1.0-0'}}&nbsp;</p>
          </div>
        </div>
      </div>
      <!-- <div class="col">csdc</div> -->
      <div class="col-lg-6">
        <div class="h-100 w-100 row m-0 g-2">
          <div class="row px-0 mx-0 gx-2">
            <div class="col">
              <div class="py-4 px-4 bg-light shadow rounded-3 cursor-pointer single-card" (click)="scroll(accidentR)">
                <p class="h6 mb-4">Total No. of Accidents</p>
                <p class="h3 fw-bold mb-3">{{ this.totalAccident | number : "1.0-0" }}</p>
                <small> Region Wise <b>{{currentYear}}</b></small>
              </div>
            </div>
            <div class="col">
              <div class="py-4 px-4 bg-light shadow rounded-3 cursor-pointer single-card" (click)="scroll(premium)">
                <p class="h6 mb-4 text-end">Total Premium Income</p>
                <p class="h3 fw-bold mb-3 text-end">{{ this.agencyWiseTotalPremiumIncome | currency : "BDT" : "BDT " : "0.0" }}&nbsp;</p>
                <small> Agency Wise <b>{{currentYear}}</b></small>
              </div>
            </div>
            
          </div>
          <div class="py-4 px-5 bg-light shadow rounded-3 summary-card-2">
            <div class="flex-grow-1">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="h6 mb-3">Total Compansation</p>
                  <p class="h3 fw-bold mb-3">{{ this.totalCompensationAmount | currency : "BDT" : "BDT " : "0.0" }}&nbsp;</p>
                </div>
                <div>
                  <p class="h6 mb-3 text-end">Total No. of Claims</p>
                  <p class="h3 fw-bold mb-3 text-end">{{this.totalClaim}}</p>
                </div>
              </div>
              <small class="h6 pt-2 mb-0 border-top">Geography Wise <b>{{currentYear}}</b></small>
            </div>
            
          </div>
          
        </div>
        
      </div>
    </div>

    <!-- AREA-WISE CLAIM -->
    <app-claim-dashboard  [fromDate]="fromDate" [toDate]="toDate"></app-claim-dashboard>

    <div class="row row-cols-1 row-cols-lg-2 g-2 g-xl-3 g-xxl-4 my-5">
      <div class="col">
        <div class="bg-light rounded-3 px-3 px-lg-4 py-4 shadow h-100" #premium>
          <p class="h5 py-3 fw-semibold text-center">Agent Performance Summary</p>
          <div class="table-wrapper">
            <table class="table table-light table-hover nowrap w-100">
              <thead>
                <tr>
                  <th
                    *ngFor="let field of agencyDataFields; let i = index"
                    class="text-start"
                  >
                    {{ field.label }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of agencyWisePerformance; let idx = index">
                  <td>{{ idx + 1 }}</td>
                  <td *ngFor="let f of agencyDataFields.slice(1); let i = index">
                    {{ data[f.key] }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
      <div class="col">
        <div class="bg-light rounded-3  px-3 py-4 shadow">
          <p class="h5 py-3 fw-semibold text-center">Territory based Claim Summary</p>
          <div>
            <apx-chart *ngIf="showBarChart"
              [series]="highestClaimBarChart.series"
              [chart]="highestClaimBarChart.chart"
              [xaxis]="highestClaimBarChart.xaxis"
              [yaxis]="highestClaimBarChart.yaxis"
              [fill]="highestClaimBarChart.fill"
              [legend]="highestClaimBarChart.legend"
              [plotOptions]="highestClaimBarChart.plotOptions"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>

    <!-- ACCIDENT ANALYSIS -->
    <div #accidentR>
      <app-motor-road-accident [fromDate]="currentYear" [toDate]="currentYear+1"  ></app-motor-road-accident>
    </div>
    
  </div>
</app-page-layout>
